<div class="banner">
  <div class="banner-content">
    <div class="banner-mobile"></div>
  </div>
  <div style="position:absolute;right:35px"> </div>
</div>
<table class="menu">
  <tbody>
    <tr>
      <td class="main-menu">
        <ul id="menu">
          <li><a (click)="navigateHome()">Sim số đẹp</a></li>
          <li><a style="color: yellow;" (click)="navigateHome()">Sim phong thủy<img
                src="//static.simthanglong.vn/images/new2.gif" alt="Sim phong thủy"
                style="width:30px;height:15px!important"></a></li>
          <li><a (click)="navigateHome()">Sim Trả Góp</a></li>
          <li><a (click)="navigateHome()" rel="nofollow">Thanh toán</a>
          </li>
          <li><a (click)="navigateHome()" rel="nofollow">Liên hệ</a></li>
          <li><a (click)="navigateHome()">Tin Tức</a></li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
